.studi{
    display: block;
    text-align: center;
    width: 38rem;    
      
    background-color: darkgray; 
    margin-top: 100px;
  }
  .btnLogOut{
    display: flex;
    justify-content: end;
    margin: 10px 10px 10px 0px;
    
  }